</br></br><p>USER PAGE PLAN</p></br>
 </br><p><%= "Welcome, #{@current_user.username}" %></p>

<p>Add fabric button</p></br>

<p>Search and filter bar</p></br>

<p>Fabric Collection objects (each can be popped out as a model)</p>